@import "../styles/mixins/mixins";

.cards-wrapper{

  background-color: #001220;
  @include tablet-landscape{
    padding-top: 100px;
  }
  .h2-title{
    color: white
  }
  .cards-swiper {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

    .swiper-slide {
      width:100%;
      height: 100%;
      border: 3px solid #00FFCA;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: fill;
        //object-position: center;
      }
    }


  }

}


