@import "../styles/mixins/mixins";

.cards-wrapper{

  background-color: #001220;
  @include tablet-landscape{
    padding-top: 100px;
  }
  .h2-title{
    color: white
  }

  .swiper{

  }
  .cards-swiper {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

    @include tablet-landscape{
      width: 60%;
    }

    .swiper-wrapper{
      .swiper-slide {
        width:90%;
        height: 100%;
        border: 3px solid #00FFCA;
        @include tablet-landscape{
          width:100%;
        }

        img {
          display: block;
          height: 100%;
          width: 100%;
          object-fit: fill;
          //object-position: center;
        }
      }

    }

    .swiper-button-prev{
      display: none;
      @include tablet-landscape{
        display: unset;
      }
    }
    .swiper-button-next{
      display: none;
      @include tablet-landscape{
        display: unset;
      }
    }



  }

}


