@import "../styles/mixins/mixins";


.experience-container{
  height: auto;
  max-height:400px;
  overflow-y: auto;
  width: 100%;

  padding-right: 10px;
  .experiences{
    position: relative;
    margin-block-start: 50px;
    //border: 1px solid orangered;
    width: 100%;
    color: white;
    display: flex;
    border: 1px solid #ccc;
    //background-color: #fff;
    transition: all 0.3s ease;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.2); /* Semi-transparent overlay color */
      opacity: 0.6;
      transition: opacity 0.3s ease;
      z-index: 1;
    }

    &:hover::before {
      opacity: 0.1;
    }

    &:hover{

      .content{
        h3{
          color: #00FFCA;
        }
      }



    }

    .period{
      display: flex;
      justify-content: space-between;
      h4{
        color: #948c8c;
        font-size:25px;
      }


      flex-basis: 30%;
    }

    .content{
      flex-basis: 70%;
      h3{
        color: white;
        width: 100%;
        font-size:24px;
        transition: color 0.5s ease-in-out;
      }

      p{
        color: #948c8c;
      }

    }

  }

  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }




}

