*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1,h2,h3,h4{
  font-family: "Raleway", sans-serif;
}

p{
  font-family: "Montserrat", sans-serif;
  font-style: normal;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-with-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.text{
  font-family: "Montserrat", sans-serif;

}

.none{
  display: none;
}
.show{
  display: block;
}

.bold{
 font-weight: bold;
}

.n-box1{
  border-radius: 50px;
  background: #001220;
  box-shadow:  10px 10px 0px #00070d,
  -10px -10px 0px #001d33;
}